@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFF;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1440px; /* Максимальная ширина контента */
  margin: 0 auto;
  padding: 0 0px;
}

/* Стили для основного контента */
.main {
  max-width: 1196px; /* Ширина основного контента */
  margin: 0 auto; /* Центрирование */
  padding: 0 0px; /* Отступы */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
}

/* Медиазапросы для больших экранов (от 1920px) */
@media (min-width: 1920px) {
  .container {
    max-width: 1920px; /* Контейнер расширяется для больших экранов */
  }
}
/* Медиазапросы для планшетов (от 768px до 1024px) */
@media (max-width: 1024px) {
  .container {
    max-width: 100%; /* Контейнер занимает всю ширину */
    padding: 0 15px; /* Отступы */
  }
  .main {
    max-width: 100%; /* Основной контент растягивается на всю ширину */
    padding: 0 15px;
  }
  .nav__search__input {
    width: 100%; /* Поля поиска становятся шире */
  }
}
/* Медиазапросы для мобильных устройств (до 767px) */
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 10px; /* Уменьшаем отступы для мобильных */
  }
  .main {
    max-width: 100%; /* Основной контент занимает всю ширину */
    padding: 0 10px;
  }
  /* Адаптация навигации */
  .nav {
    flex-direction: column; /* Навигация становится вертикальной */
    align-items: center;
  }
  .nav__search__input {
    width: 100%; /* Поля поиска занимают всю ширину */
    margin-bottom: 10px; /* Добавляем отступы между элементами */
  }
  .nav__user-actions {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .events__list {
    flex-direction: column; /* Карточки событий отображаются вертикально */
  }
  .event-card {
    width: 100%; /* Карточки занимают всю ширину */
    margin-bottom: 15px; /* Отступы между карточками */
  }
}
.nav {
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 50px 11px 24px;
}
.nav__part-left {
  display: flex;
  justify-content: flex-start;
}
.nav__part-right {
  display: flex;
  justify-content: flex-end;
}
.nav__logo-link {
  margin-right: 40px;
}
.nav__search {
  display: flex;
}
.nav__search__button {
  border: none;
  border-radius: 0px 8px 8px 0px;
  background: #F65858;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__search__input {
  height: 42px;
  border: 1px solid #D9D9D9;
  font-size: 16px;
  color: #000;
}
.nav__search__input:nth-child(1) {
  font-size: 16px;
  border-radius: 8px 0px 0px 8px;
  border-right: 0px;
  width: 300px;
  padding-left: 35px;
  background-image: url("/assets/icons/finde-22x22-black.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
}
.nav__search__input:nth-child(1)::placeholder {
  color: #707070;
}
.nav__search__input:nth-child(2) {
  width: 254px;
  border-radius: 0px;
  padding: 13px 9px 13px 17px;
}
.nav__user-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nav__user-actions button {
  border-radius: 8px;
  border: none;
  background: #00798A;
  display: flex;
  width: 90px;
  height: 36px;
  padding: 8px 16px 8px 16px;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 14px;
}
.nav__user-actions a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #212121;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}
.nav__user-actions a--primary {
  background-color: #2ecc71;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.hero {
  text-align: center;
  background-color: white;
  display: flex;
  padding: 98px 0 98px 0;
  gap: 46px;
}
.hero__left {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 24px;
}
.hero__title {
  font-size: 42px;
  color: #212121;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
}
.hero__description {
  text-align: left;
  color: #212121;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.hero__join-button {
  border-radius: 8px;
  background: #00798A;
  color: white;
  font-size: 16px;
  display: flex;
  width: 125px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  justify-content: center;
  align-items: center;
  border: none;
}

.events {
  padding-bottom: 90px;
}
.events__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}
.events__head__left {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.events__head__right__link {
  text-decoration: none;
  color: #00798A;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.events__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  color: #212121;
}
.events__input-city {
  border-radius: 8px;
  background: rgba(151, 202, 209, 0.12);
  display: flex;
  width: 240px;
  padding: 12px 12px 8px 12px;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  color: #00798A;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border: none;
  background-image: url("/assets/icons/edit-input.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}
.events__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 36px;
}
.events__list .event-card {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.events__list .event-card__img {
  width: 100%;
  height: 192px !important;
  /* Задаем фиксированную высоту */
  object-fit: cover !important;
  /* Изображение будет обрезано, чтобы сохранить пропорции */
  border-radius: 8px;
}
.events__list .event-card__title {
  padding-top: 12px;
  color: #212121;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.events__list .event-card__info {
  color: #707070;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 12px 0;
}
.events__list .event-card__date {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.35px;
  text-transform: uppercase;
  padding-bottom: 14px;
  display: flex;
  align-items: center;
}
.events__list .event-card__date::before {
  content: url("/assets/icons/calendar.svg");
  padding-right: 6px;
  height: 20px;
  width: 20px;
}
.events__list .event-card__options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.events__list .event-card__options span {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.events__list .event-card__options span:nth-child(1)::before {
  display: inline-block;
  content: url("/assets/icons/done.svg");
  padding-right: 6px;
  height: 20px;
  width: 20px;
}
.events__list .event-card__options span:nth-child(2)::before {
  display: inline-block;
  content: url("/assets/icons/ticket.svg");
  padding-right: 6px;
  height: 20px;
  width: 20px;
}

.footer {
  background-color: #333;
  color: white;
  display: flex;
  padding: 16px 196px 0px 196px;
  justify-content: center;
  align-items: center;
}
.footer__links-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer ul {
  list-style: none;
}
.footer__container {
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.footer__container__top {
  display: flex;
  height: 69px;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  border-bottom: 1px solid #707070;
}
.footer__container__top__text {
  color: #f6f7f8;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.footer__container__top__button {
  border-radius: 6px;
  border: 2px solid #fff;
  display: flex;
  width: 119px;
  height: 44px;
  padding: 10px 14px 10px 14px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  background-color: #333;
}
.footer__container__links {
  display: flex;
  flex-direction: row;
  gap: 240px;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__container__social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 32px;
}
.footer__container__app {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 24px;
}
.footer__container__ico {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__container__bottom {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
  gap: 24px;
}
.footer__container__bottom-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.another-info {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-bottom: 64px;
}

.join {
  border-radius: 8px;
  background-color: rgba(151, 202, 209, 0.08);
  width: 100%;
  padding: 20px 56px;
  display: flex;
  flex-direction: row;
  gap: 74px;
}
.join__content {
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.join__title {
  color: #212121;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}
.join__description {
  color: #212121;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.join__button {
  border-radius: 8px;
  background: #E32359;
  display: flex;
  width: 192px;
  height: 40px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border: none;
}

.categories__title {
  color: #212121;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.categories__items {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.categories__item {
  padding: 22px 16px 16px 16px;
  background: rgba(151, 202, 209, 0.08);
  width: 135px;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.categories__item p {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.city {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.city__title {
  color: #212121;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.city__description {
  color: #707070;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.city__items {
  display: flex;
  flex-direction: row;
  gap: 42px;
}
.city__items a {
  text-decoration: none;
}
.city__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.how {
  display: flex;
  flex-direction: column;
}
.how__title {
  color: #212121;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}
.how__items {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.how__item {
  border-radius: 8px;
  background: rgba(151, 202, 209, 0.08);
  padding: 32px 112px 24px 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}
.how__item__content__title {
  color: #212121;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.how__item__content__description {
  color: #212121;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.how__item__content__link {
  color: #00798a;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.friendships {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.friendships__title {
  color: #212121;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}
.friendships__description {
  color: #707070;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.friendships__items {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.friendships__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.friendships__item__title {
  color: #212121;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}
.friendships__item__description {
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.friendships__item__link {
  color: #00798a;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.select-container {
  position: relative;
  display: inline-block;
  width: 200px; /* Можно настроить ширину под себя */
  border-radius: 50px; /* Скругление контейнера */
  overflow: hidden; /* Скрытие элементов за пределами контейнера */
}

.custom-select {
  width: 100%;
  padding: 10px 40px 10px 20px; /* Добавил отступ справа для стрелки */
  border: 1px solid #ccc;
  border-radius: 50px;
  appearance: none; /* Отключаем стандартное оформление браузера */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f8f8f8;
  font-size: 16px;
  font-weight: 500;
  z-index: 1; /* Чтобы иконка оставалась сверху */
  position: relative;
  cursor: pointer; /* Курсор при наведении */
}

.custom-select:focus {
  outline: none;
  border-color: #000; /* Цвет границы при фокусе */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); /* Небольшая тень при фокусе */
}

.select-container::after {
  content: url("/assets/icons/dropdown.svg"); /* Путь к вашей SVG-иконке */
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none; /* Чтобы иконка не блокировала клик по селекту */
  z-index: 2;
  width: 12px; /* Добавил размеры */
  height: 12px; /* Добавил размеры */
}

select option {
  padding: 10px; /* Отступы внутри выпадающего списка */
  background-color: #fff; /* Фоновый цвет опций */
  color: #333; /* Цвет текста */
  font-weight: 500;
}

.events-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 100px;
}
.events-container__left {
  width: 70%;
}
.events-container__left__filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.events-container__right {
  width: 30%;
}

.img-container-zoom {
  overflow: hidden;
  display: inline-block;
}

.img-container-zoom img {
  transition: transform 0.5s ease;
}

.img-container-zoom:hover img {
  transform: scale(0.9);
}

.img-container-zoom-plus {
  overflow: hidden;
  display: inline-block;
}

.img-container-zoom-plus img {
  transition: transform 0.5s ease;
}

.img-container-zoom-plus:hover img {
  transform: scale(1.1);
}

.img-container-rotate img {
  transition: transform 0.6s ease;
}

.img-container-rotate:hover img {
  transform: rotate(10deg); /* Наклон на 10 градусов */
}

.img-container-3d {
  perspective: 1000px; /* Добавляем перспективу для 3D эффекта */
}

.img-container-3d img {
  transition: transform 0.6s ease;
  transform-origin: center;
}

.img-container-3d:hover img {
  transform: rotateY(20deg); /* Поворот по оси Y */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.img-container-pulse img {
  animation: pulse 2s infinite; /* Эффект пульсации */
}/*# sourceMappingURL=main.css.map */