<h1 class="events-container__left__title">Events near New York</h1>
<h3 class="events-container__left__subtitle">Events</h3>

<div class="events-container__left__filters">
  <div class="select-container">
    <select id="selectType" class="custom-select"></select>
  </div>

  <div class="select-container">
    <select id="selectCategory" class="custom-select"></select>
  </div>

  <div class="select-container">
    <select id="selectCity" class="custom-select"></select>
  </div>

  <div class="select-container">
    <select id="selectDistance" class="custom-select"></select>
  </div>

  <div class="select-container">
    <select id="selectDate" class="custom-select"></select>
  </div>

  <button id="resetFilters" class="join__button" onclick="resetFilters()">Reset filters</button>

</div>

<div class="events-container">
  <div class="events-container__left">
    <div class="events__list" id="events__list"></div>
  </div>
  <div class="events-container__right">
    <iframe id="googleMap" width="100%" height="450" style="border: 0" loading="lazy" allowfullscreen
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAvqje2_bU9KKj8R9gRLKIJdioAWtzCH88&q=New York">
    </iframe>
  </div>
</div>

