<h1 class="event-container__title">Events near New York</h1>
<h3 class="event-container__subtitle">Events</h3>

<div id="events__list" class="events__list">
</div>

<section class="join">
  <h2 class="join__title">Join Meetup</h2>
  <div class="join__content">
    <p class="join__description">
      People use Meetup to meet new people, learn new things, find support,
      get out of their comfort zones, and pursue their passions, together.
      Membership is free.
    </p>
    <button class="join__button">Sign up</button>
  </div>
  <div class="join__image img-container-pulse">
    <img src="/assets/images/join.png" alt="Join Meetup" />
  </div>
</section>
