<div class="container">
    <nav class="nav">
        <div class="nav__part-left">
            <div class="nav__logo">
                <a href="./index.html" class="nav__logo-link"><img src="./assets/images/logo.svg" alt="Meetup logo"></a>
            </div>
            <div class="nav__search">
                <input type="text" class="nav__search__input" placeholder="Search events">
                <!-- <input type="text" class="nav__search__input" id="nav__search__input" placeholder="City" value="New York"> -->
                <input type="text" class="nav__search__input" id="nav__search__input" placeholder="City">
                <button class="nav__search__button"><img src="./assets/icons/finde-20x20-white.svg"
                        alt="Search"></button>
            </div>
        </div>

        <div class="nav__part-right">
            <div class="nav__logo__mobi">
                <a href="./index.html" class="nav__logo-link"><img src="./assets/images/logo.svg" alt="Meetup logo"></a>
            </div>
            <div class="nav__user-actions">
                <a href="./index.html" class="nav__login"><img src="./assets/icons/language.svg"
                        alt="Language"><p>English</p></a>
                <a href="./index.html" class="nav__login">Log in</a>
                <button class="nav__signup">Sign up</button>
            </div>
        </div>
    </nav>
</div>