<div class="container">
    <section class="hero">
        <div class="hero__left">
            <h1 class="hero__title">The people platform—Where interests become friendships</h1>
            <p class="hero__description">Whatever your interest, from hiking and reading to networking and skill
                sharing, there are thousands of people who share it on Meetup. Events are happening every
                day—sign
                up to
                join the fun.</p>
            <button class="hero__join-button">Join Meetup</button>
        </div>
        <div class="hero__right">
            <img src="/assets/images/hero.svg" alt="Join Meetup">
        </div>
    </section>
    <section class="events">
        <div class="events__head">
            <div class="events__head__left">
                <h2 class="events__title">Events near</h2>
                <input class="events__input-city" type="text" value="Mountain View, CA">
            </div>
            <div class="events__head__right">
                <a class="events__head__right__link" href="/">See all events</a>
            </div>
        </div>
        <div class="events__list" id="events__list">
        </div>
    </section>

    <section class="events">
        <div class="events__head">
            <div class="events__head__left">
                <h2 class="events__title">Upcoming online events</h2>
            </div>
            <div class="events__head__right">
                <a class="events__head__right__link" href="/">See all events</a>
            </div>
        </div>
        <div class="events__list" id="events__list__online">
        </div>
    </section>

    <section class="join">
        <div class="join__content">
            <h2 class="join__title">Join Meetup</h2>
            <p class="join__description">
                People use Meetup to meet new people, learn new things, find support, get out of their comfort zones, and pursue their passions, together. Membership is free.
            </p>
            <button class="join__button">Sign up</button>
        </div>
    </section>
</div>