<div class="container">
    <section class="hero">
        <div class="hero__left">
            <h1 class="hero__title">The people platform—Where interests become friendships</h1>
            <p class="hero__description">Whatever your interest, from hiking and reading to networking and skill
                sharing, there are thousands of people who share it on Meetup. Events are happening every
                day—sign
                up to
                join the fun.</p>
            <button class="hero__join-button">Join Meetup</button>
        </div>
        <div class="hero__right">
            <img src="/assets/images/hero.svg" alt="Join Meetup">
        </div>
    </section>
    <section class="events">
        <div class="events__head">
            <div class="events__head__left">
                <h2 class="events__title">Events near</h2>
                <input class="events__input-city" type="text" value="Mountain View, CA">
            </div>
            <div class="events__head__right">
                <a class="events__head__right__link" href="/">See all events</a>
            </div>
        </div>
        <div class="events__list" id="events__list">
        </div>
    </section>

    <section class="events">
        <div class="events__head">
            <div class="events__head__left">
                <h2 class="events__title">Upcoming online events</h2>
            </div>
            <div class="events__head__right">
                <a class="events__head__right__link" href="/">See all events</a>
            </div>
        </div>
        <div class="events__list" id="events__list__online">
        </div>
    </section>

    <section class="onother_info">
        <section class="join">
            <div class="join__content">
                <h2 class="join__title">Join Meetup</h2>
                <p class="join__description">
                    People use Meetup to meet new people, learn new things, find support, get out of their comfort
                    zones,
                    and pursue their passions, together. Membership is free.
                </p>
                <button class="join__button">Sign up</button>
            </div>
            <div class="join__image">
                <img src="/assets/images/join.png" alt="Join Meetup">
            </div>
        </section>

        <section class="categories">
            <div class="categories__title">Explore top categories</div>
            <div class="categories__items">
                <div class="categories__item">
                    <img src="/assets/icons/cats/travel_and_outdoor.svg.svg" alt="">
                    <p>Travel and Outdoor</p>
                </div>
                <div class="categories__item">
                    <img src="/assets/icons/cats/social_activities.svg.svg" alt="">
                    <p>Social Activities</p>
                </div>
                <div class="categories__item">
                    <img src="/assets/icons/cats/hobbies_and_passions.svg.svg" alt="">
                    <p>Hobbies and Passions</p>
                </div>
                <div class="categories__item">
                    <img src="/assets/icons/cats/sports_and_fitness.svg.svg" alt="">
                    <p>Sports and Fitness</p>
                </div>
                <div class="categories__item">
                    <img src="/assets/icons/cats/technology.svg.svg" alt="">
                    <p>Technology</p>
                </div>
                <div class="categories__item">
                    <img src="/assets/icons/cats/art_and_culture.svg.svg" alt="">
                    <p>Art and Culture</p>
                </div>
                <div class="categories__item">
                    <img src="/assets/icons/cats/games.svg.svg" alt="">
                    <p>Games</p>
                </div>
            </div>
        </section>
        <section class="city">
            <div class="city__title">Popular cities on Meetup</div>
            <div class="city__desription">Looking for fun things to do near you? See what Meetup organizers are planning
                in
                cities around the country.</div>
            <div class="city__items">
                <div class="city__item">
                    <img src="/assets/images/cities/new_york.png" alt="New York">
                    <p class="">New York</p>
                </div>
                <div class="city__item">
                    <img src="/assets/images/cities/san_francisco.png" alt="San Francisco">
                    <p>San Francisco</p>
                </div>
                <div class="city__item">
                    <img src="/assets/images/cities/chicago.png" alt="Chicago">
                    <p>Chicago</p>
                </div>
                <div class="city__item">
                    <img src="/assets/images/cities/nashville.png" alt="Nashville">
                    <p>Nashville</p>
                </div>
                <div class="city__item">
                    <img src="/assets/images/cities/miami.png" alt="Miami">
                    <p>Miami</p>
                </div>
            </div>
        </section>
        <section class="how">
            <div class="how_title">How Meetup works</div>
            <div class="how_items">
                <div class="how_item">
                    <img src="/assets/icons/search-41x41.svg" alt="">
                    <div class="how_item_content">
                        <div class="how_item_content__title">
                            Discover events and groups
                        </div>
                        <div class="how_item_content__description">
                            See who's hosting local events for all the things
                            you love
                        </div>
                        <div class="how_item_content__link">
                            Search events and groups
                        </div>
                    </div>
                </div>

                <div class="how_item"></div>
                <img src="/assets/icons/plus-41x41.svg" alt="">
                <div class="how_item_content">
                    <div class="how_item_content__title">
                        Discover events and groups
                    </div>
                    <div class="how_item_content__description">
                        See who's hosting local events for all the things
                        you love
                    </div>
                    <div class="how_item_content__link">
                        Search events and groups
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>