<div class="container">
  <section class="hero">
    <div class="hero__left">
      <h1 class="hero__title">
        The people platform—Where interests become friendships
      </h1>
      <p class="hero__description">
        Whatever your interest, from hiking and reading to networking and skill
        sharing, there are thousands of people who share it on Meetup. Events
        are happening every day—sign up to join the fun.
      </p>
      <button class="hero__join-button">Join Meetup</button>
    </div>
    <div class="hero__right img-container-pulse">
      <img src="/assets/images/hero.svg" alt="Join Meetup" />
    </div>
  </section>
  <section class="events">
    <div class="events__head">
      <div class="events__head__left">
        <h2 class="events__title">Events near</h2>
        <input class="events__input-city" type="text" value="Mountain View, CA" />
      </div>
      <div class="events__head__right">
        <a class="events__head__right__link" href="/index.html?page=events">See all events</a>
      </div>
    </div>
    <div class="events__list" id="events__list"></div>
  </section>

  <section class="events">
    <div class="events__head">
      <div class="events__head__left">
        <h2 class="events__title">Upcoming online events</h2>
      </div>
      <div class="events__head__right">
        <a class="events__head__right__link" href="/index.html?page=events">See all events</a>
      </div>
    </div>
    <div class="events__list" id="events__list__online"></div>
  </section>

  <section class="another-info">
    <section class="join">
      <div class="join__content">
        <h2 class="join__title">Join Meetup</h2>
        <p class="join__description">
          People use Meetup to meet new people, learn new things, find support,
          get out of their comfort zones, and pursue their passions, together.
          Membership is free.
        </p>
        <button class="join__button">Sign up</button>
      </div>
      <div class="join__image img-container-pulse">
        <img src="/assets/images/join.png" alt="Join Meetup" />
      </div>
    </section>

    <section class="categories">
      <div class="categories__title">Explore top categories</div>
      <div class="categories__items">
        <a href="/index.html?page=events&category=Travel and Outdoor">
          <div class="categories__item">
            <img src="/assets/icons/cats/travel_and_outdoor.svg.svg" alt="" />
            <p>Travel and Outdoor</p>
          </div>
        </a>
        <a href="/index.html?page=events&category=Social Activities">
          <div class="categories__item">
            <img src="/assets/icons/cats/social_activities.svg.svg" alt="" />
            <p>Social Activities</p>
          </div>
        </a>
        <a href="/index.html?page=events&category=Hobbies and Passions">
          <div class="categories__item">
            <img src="/assets/icons/cats/hobbies_and_passions.svg.svg" alt="" />
            <p>Hobbies and Passions</p>
          </div>
        </a>
        <a href="/index.html?page=events&category=Sports and Fitness">
          <div class="categories__item">
            <img src="/assets/icons/cats/sports_and_fitness.svg.svg" alt="" />
            <p>Sports and Fitness</p>
          </div>
        </a>
        <a href="/index.html?page=events&category=Technology">
          <div class="categories__item">
            <img src="/assets/icons/cats/technology.svg.svg" alt="" />
            <p>Technology</p>
          </div>
        </a>
        <a href="/index.html?page=events&category=Art and Culture">
          <div class="categories__item">
            <img src="/assets/icons/cats/art_and_culture.svg.svg" alt="" />
            <p>Art and Culture</p>
          </div>
        </a>
        <a href="/index.html?page=events&category=Games">
          <div class="categories__item">
            <img src="/assets/icons/cats/games.svg.svg" alt="" />
            <p>Games</p>
          </div>
        </a>

      </div>
    </section>
    <section class="city">
      <div class="city__title">Popular cities on Meetup</div>
      <div class="city__desription">
        Looking for fun things to do near you? See what Meetup organizers are
        planning in cities around the country.
      </div>
      <div class="city__items">

        <a href="/index.html?page=events&city=New York">
          <div class="city__item img-container-zoom">
            <img src="/assets/images/cities/new_york.png" alt="New York" />
            <p class="">New York</p>
          </div>
        </a>

        <a href="/index.html?page=events&city=San Francisco">
          <div class="city__item img-container-zoom">
            <img src="/assets/images/cities/san_francisco.png" alt="San Francisco" />
            <p>San Francisco</p>
          </div>
        </a>

        <a href="/index.html?page=events&city=Chicago">
          <div class="city__item img-container-zoom">
            <img src="/assets/images/cities/chicago.png" alt="Chicago" />
            <p>Chicago</p>
          </div>
        </a>

        <a href="/index.html?page=events&city=Nashville">
          <div class="city__item img-container-zoom">
            <img src="/assets/images/cities/nashville.png" alt="Nashville" />
            <p>Nashville</p>
          </div>
        </a>

        <a href="/index.html?page=events&city=Miami">
          <div class="city__item img-container-zoom">
            <img src="/assets/images/cities/miami.png" alt="Miami" />
            <p>Miami</p>
          </div>
        </a>
      </div>

    </section>
    <section class="how">
      <div class="how__title">How Meetup works</div>

      <div class="how__items">
        <div class="how__item">
          <img src="/assets/icons/search-41x41.svg" alt="" />
          <div class="how__item__content">
            <div class="how__item__content__title">
              Discover events and groups
            </div>
            <div class="how__item__content__description">
              See who's hosting local events for all the things you love
            </div>
            <div class="how__item__content__link">Search events and groups</div>
          </div>
        </div>

        <div class="how__item">
          <img src="/assets/icons/plus-41x41.svg" alt="" />
          <div class="how__item__content">
            <div class="how__item__content__title">
              Discover events and groups
            </div>
            <div class="how__item__content__description">
              See who's hosting local events for all the things you love
            </div>
            <div class="how__item__content__link">Search events and groups</div>
          </div>
        </div>
      </div>
    </section>
    <section class="friendships">
      <div class="friendships__title">Friendships are made on Meetup</div>
      <div class="friendships__description">
        Since 2002, members have used Meetup to make new friends, meet
        like-minded people, spend time on hobbies, and connect with locals over
        shared interests. Learn how.
      </div>
      <div class="friendships__items">

        <div class="friendships__item">
          <img src="/assets/images/article/first_article.png" alt="" />
          <div class="friendships__item__title">
            I Used Meetup to Make Friends at Brunch
          </div>
          <div class="friendships__item__description">
            New Jersey-based writer and college student Brianna Stryker wanted
            to meet friends in her hometown. Learn how she used Meetup to make
            connections by joining a Girls Night Out Meetup group.
          </div>
          <div class="friendships__item__link">Read more</div>
        </div>

        <div class="friendships__item">
          <img src="/assets/images/article/second_article.png" alt="" />
          <div class="friendships__item__title">
            How to Turn Casual Connections into Close Friendships
          </div>
          <div class="friendships__item__description">
            It’s proven that close friendships are harder to make as an adult.
            But don’t sweat it: here’s what you can do to simplify the process.
          </div>
          <div class="friendships__item__link">Read more</div>
        </div>

        <div class="friendships__item">
          <img src="/assets/images/article/third_article.png" alt="" />
          <div class="friendships__item__title">
            Do You Have the “Right” Number of Friends?
          </div>
          <div class="friendships__item__description">
            Studies from around the world have tried to help people answer this
            question. Learn about the three tiers of friendship and how to
            fulfill them.
          </div>
          <div class="friendships__item__link">Read more</div>
        </div>

      </div>
    </section>
  </section>
</div>