.events {
  padding-bottom: 90px;

  &__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;

    &__left {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
    }

    &__right__link {
      text-decoration: none;
      color: #00798A;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }
  }

  &__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    color: #212121;
  }

  &__input-city {
    border-radius: 8px;
    background: rgba(151, 202, 209, 0.12);

    display: flex;
    width: 240px;
    padding: 12px 12px 8px 12px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;

    color: #00798A;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;

    border: none;

    background-image: url('/assets/icons/edit-input.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 36px;

    .event-card {
      background-color: #fff;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      &__img {
        // img {
          width: 100%;
          height: 192px !important;
          /* Задаем фиксированную высоту */
          object-fit: cover !important;
          /* Изображение будет обрезано, чтобы сохранить пропорции */
          border-radius: 8px;
          // padding-bottom: 12px;
        // }
      }

      &__title {
        padding-top: 12px;
        color: #212121;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
      }

      &__info {
        color: #707070;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        padding: 12px 0;
      }


      &__date {
        color: #212121;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.35px;
        text-transform: uppercase;
        padding-bottom: 14px;

        display: flex;
        align-items: center;

        &::before {
          content: url('/assets/icons/calendar.svg');
          padding-right: 6px;
          height: 20px;
          width: 20px;
        }
      }

      &__options {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;

        span {
          display: inline-flex;
          flex-direction: row;
          align-items: center;

          &:nth-child(1)::before {
            display: inline-block;
            content: url('/assets/icons/done.svg');
            padding-right: 6px;
            height: 20px;
            width: 20px;
          }

          &:nth-child(2)::before {
            display: inline-block;
            content: url('/assets/icons/ticket.svg');
            padding-right: 6px;
            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }
}