.footer {
    background-color: #333;
    color: white;
  
    a {
      color: white;
      text-decoration: none;
    }

    &__container{
      display: flex;
      flex-direction: column;
      &__links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      &__social{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }