// _global.scss
body {
  font-family: $font-stack;
  background-color: $background-color;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  max-width: 1196px;
  margin: 0 auto;
  padding: 0 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
}

@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }

  .main {
    max-width: 100%;
    padding: 0 15px;
  }

  .nav__search__input {
    width: 200px !important;
  }

  .nav {
    padding: 11px 0px 11px 0px !important;
  }

  .nav__search__input:nth-child(2) {
    width: 200px;
  }
}

@media (max-width: 850px) {
  .nav__search__input {
    width: 150px !important;
  }

  .events-container {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }

  #googleMap{
    display: none !important;
  }
}


@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }

  .main {
    max-width: 100%;
    padding: 0 10px;
  }

  .nav {
    flex-direction: column-reverse !important;
    align-items: flex-end !important;
    gap: 16px !important;
  }

  .nav__logo {
    display: none;
    position: relative;
  }

  .nav__logo__mobi {
    display: block !important;
  }

  .nav__part-left {
    width: 100%;
  }

  .nav__part-right {
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
  }

  .hero {
    display: flex;
    flex-direction: column;
    padding-top: 30px !important;
  }

  .hero__left {
    width: 100% !important;
    font-size: 25px !important;

  }

  .hero__title {
    font-size: 25px !important;
    font-weight: 700 !important;
    line-height: 31px !important;
  }

  .hero__description {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .hero__join-button {
    display: none !important;
  }

  .nav__search {
    width: 100% !important;
  }

  .nav__search__input {
    width: 100% !important;
    margin-bottom: 10px;
  }

  #nav__search__input {
    display: none !important;
  }

  .nav__user-actions {
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }

  .events__list {
    flex-direction: column;
  }

  .event-card {
    width: 100%;
    margin-bottom: 15px;
  }

  .events__head__right__link {
    display: none !important;
  }

  .join {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: start !important;
    padding: 20px 10px !important;
  }

  .join__title {
    order: 1 !important;
    text-align: start;
  }

  .join__image {
    order: 2 !important;
  }

  .join__content {
    order: 3 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .city__items {
    gap: 10px !important;
  }

  .city__item {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      width: 100%;
    }

    // img {
    //   // width: 40% !important;
    // }
  }

  .img-container-zoom img {
    width: 170px !important;
  }

  .friendships__items {
    flex-direction: column !important;
  }

  .friendships__item {
    width: 100% !important;
  }
}